libs/cglib
libs/common/rd-ant-ext-2.0.2.jar
libs/dbUnit
libs/xdoclet
middlegen.properties
src/java/beans.xml
src/java/log4j.properties
src/java/messageResource.properties
src/java/schemaResources.properties
src/java/hibernate.cfg.xml
src/java/*.generation
src/test/cxfrouting.properties
etc/schema/build.properties
etc/sql/*/*.generation
etc/sql/*/*.map
etc/sql/*.generation
etc/sql/*.map
work
.*.swp
velocity.log
test
target
/bin
