<?xml version="1.0" encoding="$param.sourceEncoding"?>
<!--
  定義方法
  ・beans/bean@className
      - クラス名をフルパッケージで記述
  ・beans/bean@extends
      - 親クラス名をフルパッケージで記述（省略可）
  ・beans/bean@description
      - クラスの説明を記述（省略可）
  ・beans/bean/property@name
      - プロパティ名を記述
  ・beans/bean/property@type
      - プロパティの型を記述。オブジェクトの場合はフルパッケージで記述
  ・beans/bean/property@description
      - プロパティの説明を記述（省略可）
  ・beans/bean/property@transient
      - プロパティがtransientの場合はtrue。省略時はfalseと扱われる

  サンプル
  <bean className="jp.rough_diamond.sample.bean.SampleBean" description="サンプルBean">
    <property name="name"   type="String"                                 description="名前" />
    <property name="stream" type="java.io.InputStream"  transient="true"  description="ストリーム" />
  </bean>
-->
<beans>
</beans>
